# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual environment
venv/
ENV/
.env

# VSCode / IDE files
.vscode/
.idea/

# Django static and media
staticfiles/
media/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
